:root {
  width: 100%;

  /* font */

  /* 12px */
  --font-very-small: 0.75rem;

  /* 14px */
  --font-small: 0.875rem;

  font-family: 'Roboto', sans-serif;
  line-height: 160%;


  /* cores */
  --bg-gray: #121214;
  --gray-cards: #202024;
  --gray-divider: #323238;
  --gray-placeholder: #7c7c8a;
  --gray-second-text: #8d8d99;
  --gray-text: #c4c4cc;
  --gray-text-titles: #e1e1e6;

  --red-ignite: #f75a68;

  --green: #00875f;
  --green-light: #00b37e;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green);
}


* {
  font-family: 'Roboto', sans-serif;
  line-height: 160%;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: var(--bg-gray);
  color: var(--gray-text);

  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  line-height: 160%;
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray-text);
}

button {
  background: transparent;
  color: var(--green-light);

  font-weight: bold;

  display: flex;
  align-items: center;

  padding: 1rem 1.5rem 0.875rem 1.5rem;
  border: 1px solid var(--green-light);
  border-radius: 0.5rem;

  cursor: pointer;

  transition: 0.2s;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}